.idea
out/*
*.iml
*.DS_Store
*bak*
src/BelasArtes/DataLayer/bin
src/BelasArtes/DataLayer/obj
src/BelasArtes/demo/bin
src/BelasArtes/demo/obj
src/AppExemplo/DataLayer/bin
src/AppExemplo/DataLayer/obj
src/AppExemplo/demo/bin
src/AppExemplo/demo/obj