body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.top-bar {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.content {
    padding: 20px;
    background-color: #3498db; /* Set background color for the content */
    position: absolute;
    top: 80px; /* Adjust this value to match the height of your top-bar */
    left: 0;
    right: 0;
    bottom: 0;
}