body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

  .navbar {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
  }