@page "/fetchdata"
@using DataLayer

@inject ILeilaoDAO _db

<PageTitle>Leiloes List</PageTitle>

<h1>Leiloes List</h1>

<p>This component demonstrates fetching data from a database.</p>

@if (leiloes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>dataInicio</th>
                <th>dataFim</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var leilao in leiloes)
            {
                <tr>
                    <td>@leilao.Id</td>
                    <td>@leilao.DataInicio</td>
                    <td>@leilao.DataFim</td>
                </tr>
            }
            
        </tbody>
    </table>
}

@code {
    private List<DataLayer.Leilao> leiloes;

    protected override async Task OnInitializedAsync()
    {
        leiloes = await _db.FindAll();
    }
}