@page "/leiloes"
@inject HttpClient Http
@inject NavigationManager NavigationManager;
@using DataLayer

<PageTitle>BelasArtes</PageTitle>



<!-- Fundo -->
<div style="width: 100%; height: 90%; position: absolute; background: white"></div>
<div style="width: 100%; height: 280%; left: 0%; top: 15%; position: absolute; background: rgba(64, 64, 64, 0.72)"></div>


<!-- Cabecalho -->
<img style="width: 5; height: 14%; left: 0%; top: 0.5%; position: absolute" src="logo.png" />
<div style="width: 30%; height: 20%; left: 2%; top: 4%; position: absolute; text-align: center; color: black; font-size: 200%; font-family: Inter; font-weight: 500; word-wrap: break-word">Leilões Belas Artes</div>
<div style="width: 100%; height: 0px; left: 0%; top: 14.5% ; position: absolute; border: 1px #1E1E1E solid"></div>


<button onclick="window.location.href='/profile'">
<div style="width: 10%; height: 10%; left: 89%; top: 5%; position: absolute; text-align: center; color: black; font-size: 175%; font-family: Inter; font-weight: 100; word-wrap: break-word">Perfil</div>
</button>
<div style="width: 0%; height: 8%; left: 89.5%; top: 3.5%; position: absolute; border: 1px rgb(0, 0, 0) solid"></div>

<button onclick="window.location.href='/leiloes'">
<div style="width: 20%; height: 10%; left: 71%; top: 5%; position: absolute; text-align: center; color: black; font-size: 175%; font-family: Inter; font-weight: 100; word-wrap: break-word">Leilões agendados</div>
</button>
<div style="width: 0%; height: 8%; left: 72.5%; top: 3.5%; position: absolute; border: 1px rgb(0, 0, 0) solid"></div>

<button onclick="window.location.href='/leiloes'">
<div style="width: 20%; height: 10%; left: 54%; top: 5%; position: absolute; text-align: center; color: black; font-size: 175%; font-family: Inter; font-weight: 100; word-wrap: break-word">Leilões a decorrer</div>
</button>
<div style="width: 0%; height: 8%; left: 55.5%; top: 3.5%; position: absolute; border: 1px rgb(0, 0, 0) solid"></div>

<button onclick="window.location.href='/'">
<div style="width: 10%; height: 10%; left: 46%; top: 5%; position: absolute; text-align: center; color: black; font-size: 175%; font-family: Inter; font-weight: 100; word-wrap: break-word">Home</div>
</button>
<div style="width: 0%; height: 8%; left: 89.5%; top: 3.5%; position: absolute; border: 1px rgb(0, 0, 0) solid"></div>


<!--Botoes de ordenar filtrar-->
<div style="width: 15%; height: 7.5%; left: 76%; top: 47%; position: absolute; background: #D9D9D9"></div>
<div style="width: 15%; height: 7.5%; left: 57%; top: 47%; position: absolute; background: #D9D9D9"></div>
<div style="width: 15%; height: 7.5%; left: 80%; top: 47%; position: absolute; color: black; font-size: 27px; font-family: Inter; font-weight: 167; word-wrap: break-word">Ordenar</div>
<div style="width: 15%; height: 7.5%; left: 62.5%; top: 47%; position: absolute; color: black; font-size: 27px; font-family: Inter; font-weight: 167; word-wrap: break-word">Filtrar</div>


<!--Barra pesquisa-->
<div style="width: 100%; height: 25.5%; left: 0%; top: 14.5%; position: absolute; background: #404040;"></div>
<div style="width: 60%; height: 10%; left: 20%; top: 22.5%; position: absolute; background: #f1f1f1; border-radius: 39px;"></div>
<img style="width: 4%; height: 7.5%; left: 22%; top: 23.5%; position: absolute;" src="lupa.png" />
<input type="text" style="width: 50%; height: 7.5%; left: 27%; top: 24%; position: absolute; background: #f1f1f1; padding: 5px; border: none; font-size: 20px; font-family: Inter; font-weight: 167; box-sizing: border-box; outline: none;" placeholder="Pesquisar autor...">


<!--Leilao 1-->
<div style="width: 40%; height: 40%; left: 5%; top: 60%; position: absolute; background: white; border-radius: 59px; border: 5px black solid"></div>
<div style="width: 20%; height: 40%; left: 5%; top: 60%; position: absolute; background: #D9D9D9; border-radius: 59px; border: 1px black solid"></div>
<div style="width: 20%; height: 10%; left: 27.5%; top: 64%; position: absolute; color: black; font-size: 32px; font-family: Inter; font-weight: 167; word-wrap: break-word">Obra:</div>
<div style="width: 10%; height: 5%; left: 27.5%; top: 71%; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 167; word-wrap: break-word">Vendedor: </div>
<div style="width: 8%; height: 7%; left: 27.5%; top: 77%; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 167; word-wrap: break-word">Licitação Atual:</div>
<div style="width: 8%; height: 10%; left: 27.5%; top: 86%; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 167; word-wrap: break-word">Tempo restante: </div>


<!--Leilao 2-->
<div style="width: 40%; height: 40%; left: 55%; top: 60%; position: absolute; background: white; border-radius: 59px; border: 5px black solid"></div>
<div style="width: 20%; height: 40%; left: 55%; top: 60%; position: absolute; background: #D9D9D9; border-radius: 59px; border: 1px black solid"></div>
<div style="width: 20%; height: 10%; left: 77.5%; top: 64%; position: absolute; color: black; font-size: 32px; font-family: Inter; font-weight: 167; word-wrap: break-word">Obra: </div>
<div style="width: 10%; height: 5%; left: 77.5%; top: 71%; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 167; word-wrap: break-word">Vendedor: </div>
<div style="width: 8%; height: 7%; left: 77.5%; top: 77%; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 167; word-wrap: break-word">Licitação Atual:</div>
<div style="width: 8%; height: 10%; left: 77.5%; top: 86%; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 167; word-wrap: break-word">Tempo restante:</div>


<!--Leilao 3-->
<div style="width: 40%; height: 40%; left: 5%; top: 110%; position: absolute; background: white; border-radius: 59px; border: 5px black solid"></div>
<div style="width: 20%; height: 40%; left: 5%; top: 110%; position: absolute; background: #D9D9D9; border-radius: 59px; border: 1px black solid"></div>
<div style="width: 20%; height: 10%; left: 27.5%; top: 114%; position: absolute; color: black; font-size: 32px; font-family: Inter; font-weight: 167; word-wrap: break-word">Obra: </div>
<div style="width: 10%; height: 5%; left: 27.5%; top: 121%; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 167; word-wrap: break-word">Vendedor: </div>
<div style="width: 8%; height: 7%; left: 27.5%; top: 127%; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 167; word-wrap: break-word">Licitação Atual:</div>
<div style="width: 8%; height: 10%; left: 27.5%; top: 136%; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 167; word-wrap: break-word">Tempo restante:</div>


<!--Leilao 4-->
<div style="width: 40%; height: 40%; left: 55%; top: 110%; position: absolute; background: white; border-radius: 59px; border: 5px black solid"></div>
<div style="width: 20%; height: 40%; left: 55%; top: 110%; position: absolute; background: #D9D9D9; border-radius: 59px; border: 1px black solid"></div>
<div style="width: 20%; height: 10%; left: 77.5%; top: 114%; position: absolute; color: black; font-size: 32px; font-family: Inter; font-weight: 167; word-wrap: break-word">Obra: </div>
<div style="width: 10%; height: 5%; left: 77.5%; top: 121%; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 167; word-wrap: break-word">Vendedor: </div>
<div style="width: 8%; height: 7%; left: 77.5%; top: 127%; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 167; word-wrap: break-word">Licitação Atual:</div>
<div style="width: 8%; height: 10%; left: 77.5%; top: 136%; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 167; word-wrap: break-word">Tempo restante:</div>


<!--Leilao 5-->
<div style="width: 40%; height: 40%; left: 5%; top: 160%; position: absolute; background: white; border-radius: 59px; border: 5px black solid"></div>
<div style="width: 20%; height: 40%; left: 5%; top: 160%; position: absolute; background: #D9D9D9; border-radius: 59px; border: 1px black solid"></div>
<div style="width: 20%; height: 10%; left: 27.5%; top: 164%; position: absolute; color: black; font-size: 32px; font-family: Inter; font-weight: 167; word-wrap: break-word">Obra: </div>
<div style="width: 10%; height: 5%; left: 27.5%; top: 171%; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 167; word-wrap: break-word">Vendedor: </div>
<div style="width: 8%; height: 7%; left: 27.5%; top: 177%; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 167; word-wrap: break-word">Licitação Atual:</div>
<div style="width: 8%; height: 10%; left: 27.5%; top: 186%; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 167; word-wrap: break-word">Tempo restante:</div>


<!--Leilao 6-->
<div style="width: 40%; height: 40%; left: 55%; top: 160%; position: absolute; background: white; border-radius: 59px; border: 5px black solid"></div>
<div style="width: 20%; height: 40%; left: 55%; top: 160%; position: absolute; background: #D9D9D9; border-radius: 59px; border: 1px black solid"></div>
<div style="width: 20%; height: 10%; left: 77.5%; top: 164%; position: absolute; color: black; font-size: 32px; font-family: Inter; font-weight: 167; word-wrap: break-word">Obra: </div>
<div style="width: 10%; height: 5%; left: 77.5%; top: 171%; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 167; word-wrap: break-word">Vendedor: </div>
<div style="width: 8%; height: 7%; left: 77.5%; top: 177%; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 167; word-wrap: break-word">Licitação Atual:</div>
<div style="width: 8%; height: 10%; left: 77.5%; top: 186%; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 167; word-wrap: break-word">Tempo restante:</div>


<!--Leilao 7-->
<div style="width: 40%; height: 40%; left: 5%; top: 210%; position: absolute; background: white; border-radius: 59px; border: 5px black solid"></div>
<div style="width: 20%; height: 40%; left: 5%; top: 210%; position: absolute; background: #D9D9D9; border-radius: 59px; border: 1px black solid"></div>
<div style="width: 20%; height: 10%; left: 27.5%; top: 214%; position: absolute; color: black; font-size: 32px; font-family: Inter; font-weight: 167; word-wrap: break-word">Obra: </div>
<div style="width: 10%; height: 5%; left: 27.5%; top: 221%; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 167; word-wrap: break-word">Vendedor: </div>
<div style="width: 8%; height: 7%; left: 27.5%; top: 227%; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 167; word-wrap: break-word">Licitação Atual:</div>
<div style="width: 8%; height: 10%; left: 27.5%; top: 236%; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 167; word-wrap: break-word">Tempo restante:</div>


<!--Leilao 8-->
<div style="width: 40%; height: 40%; left: 55%; top: 210%; position: absolute; background: white; border-radius: 59px; border: 5px black solid"></div>
<div style="width: 20%; height: 40%; left: 55%; top: 210%; position: absolute; background: #D9D9D9; border-radius: 59px; border: 1px black solid"></div>
<div style="width: 20%; height: 10%; left: 77.5%; top: 214%; position: absolute; color: black; font-size: 32px; font-family: Inter; font-weight: 167; word-wrap: break-word">Obra: </div>
<div style="width: 10%; height: 5%; left: 77.5%; top: 221%; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 167; word-wrap: break-word">Vendedor: </div>
<div style="width: 8%; height: 7%; left: 77.5%; top: 227%; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 167; word-wrap: break-word">Licitação Atual:</div>
<div style="width: 8%; height: 10%; left: 77.5%; top: 236%; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 167; word-wrap: break-word">Tempo restante:</div>


<!--Botoes de baixo-->
<div style="width: 10%; height: 5%; left: 45%; top: 258%; position: absolute; background: white; border-radius: 10px"></div>
<div style="width: 10%; height: 5%; left: 45%; top: 257.4%; position: absolute; color: black; font-size: 2vw; font-family: Inter; font-weight: 500; text-align: center; word-wrap: break-word">1/X</div>
<button>
<img style="width: auto; height: 3.5%; left: 45.8%; top: 258.8%; position: absolute; mix-blend-mode: hard-light; background: linear-gradient(0deg, white 0%, white 100%)" src="arrow.png" />
</button>
<button>
<img style="width: auto; height: 3.5%; left: 52.5%; top: 258.9%; position: absolute; mix-blend-mode: hard-light; transform: rotate(180deg); background: linear-gradient(0deg, white 0%, white 100%)" src="arrow.png" />
</button>