@page "/"
@inject HttpClient Http
@inject NavigationManager NavigationManager;
@inject ILeilaoDAO leiloes
@inject IUtilizadorDAO utilizadores
@inject ILicitacaoDAO licitacoes
@using DataLayer

<PageTitle>BelasArtes</PageTitle>



<div style="width: 100%; height: 170%; position: absolute; background: white"></div>

<!-- Cabecalho -->
<img style="width: 5; height: 14%; left: 0%; top: 0.5%; position: absolute" src="logo.png" />
<div style="width: 10%; height: 10%; left: 89%; top: 5%; position: absolute; text-align: center; color: black; font-size: 175%; font-family: Inter; font-weight: 100; word-wrap: break-word">Contactos</div>

<button onclick="window.location.href='/'">
<div style="width: 10%; height: 10%; left: 80%; top: 5%; position: absolute; text-align: center; color: black; font-size: 175%; font-family: Inter; font-weight: 100; word-wrap: break-word">Home</div>
</button>

<div style="width: 0%; height: 8%; left: 88.7%; top: 3.5%; position: absolute; border: 1px black solid"></div>
<div style="width: 30%; height: 20%; left: 1.5%; top: 4%; position: absolute; text-align: center; color: black; font-size: 200%; font-family: Inter; font-weight: 500; word-wrap: break-word">Leilões Belas Artes</div>


<!-- Retangulo Cinzento -->
<div style="width: 100%; height: 100%;left: 0%; top: 15%; position: absolute; background: rgba(64, 64, 64, 0.72)"></div>
<div style="width: 35%; height: 10%; left: 8%; top: 82.5%; position: absolute; color: white; font-size: 170%; font-family: Inter; font-weight: 600; word-wrap: break-word">Licite, venda e explore o mundo da arte</div>
<div style="width: 35%; height: 10%; left: 8%; top: 37.5%; position: absolute; color: white; font-size: 390%; font-family: Inter; font-weight: 800; word-wrap: break-word">Descubra uma peça única nos nossos leilões</div>
<div style="width: 15%; height: 10%; left: 5%; top: 100%; position: absolute; background: black"></div>
<div style="width: 15%; height: 10%; left: 6%; top: 98%; position: absolute; background: white"></div>

<button onclick="window.location.href='/login'">
    <div style="width: 15%; height: 10%; left: 6%; top: 98.5%; position: absolute; text-align: center; color: black; font-size: 200%; font-family: Source Code Pro; font-weight: 600; line-height: 200%; word-wrap: break-word">Log In</div>
</button>

<div style="width: 15%; height: 10%; left: 30%; top: 100%; position: absolute; background: black"></div>
<div style="width: 15%; height: 10%; left: 31%; top: 98%; position: absolute; background: white"></div>

<button onclick="window.location.href='/register'">
<div style="width: 15%; height: 10%; left: 31%; top: 98.5%; position: absolute; text-align: center; color: black; font-size: 200%; font-family: Source Code Pro; font-weight: 600; line-height: 200%; word-wrap: break-word">Registar</div>
</button>

<img style="width: 40%; height: 75%; left: 55%; top: 35%; position: absolute" src="logo.png" />
<div style="width: 50%; height: 10% ; left: 25%; top: 20%; position: absolute; text-align: center; color: white; font-size: 350%; font-family: Inter; font-weight: 900; word-wrap: break-word">Leilões Belas Artes</div>


<!-- Estatisticas -->
<div style="width: 50%; height: 10%; left: 4%; top: 122.5%; position: absolute; color: black; font-size: 275%; font-family: Inter; font-weight: 800; word-wrap: break-word">Descobre mais sobre nós:</div>
<img style="width: 10%; height: 17.5%; left: 5.5%; top: 140%; position: absolute" src="auction.png" />
<div style="width: 30%; height: 10%; left: 8%; top: 152.5%; position: absolute; text-align: center; color: black; font-size: 175%; font-family: Inter; font-weight: 100; word-wrap: break-word">Leilões Online</div>
<div style="width: 30%; height: 10%; left: 4%; top: 142.5%; position: absolute; text-align: center; color: black; font-size: 350%; font-family: Inter; font-weight: 100; word-wrap: break-word">@numeroLeiloesDecorrer</div>
<img style="width: 10%; height: 17.5%; left: 38%; top: 140%; position: absolute" src="users.png" />
<div style="width: 30%; height: 10%; left: 40.5%; top: 152.5%; position: absolute; text-align: center; color: black; font-size: 175%; font-family: Inter; font-weight: 100; word-wrap: break-word">Utilizadores</div>
<div style="width: 30%; height: 10%; left: 37%; top: 142.5%; position: absolute; text-align: center; color: black; font-size: 350%; font-family: Inter; font-weight: 100; word-wrap: break-word">@numeroUtilizadores</div>
<img style="width: 10%; height: 17.5%; left: 70.5%; top: 140%; position: absolute" src="bid.png" />
<div style="width: 30%; height: 10%; left: 71%; top: 152.5%; position: absolute; text-align: center; color: black; font-size: 175%; font-family: Inter; font-weight: 100; word-wrap: break-word">Licitações</div>
<div style="width: 30%; height: 10%; left: 69%; top: 142.5%; position: absolute; text-align: center; color: black; font-size: 350%; font-family: Inter; font-weight: 100; word-wrap: break-word">@numeroLicitacoes</div>



@code {
    private int numeroLeiloesDecorrer { get; set; }
    private int numeroUtilizadores { get; set;}
    private int numeroLicitacoes { get; set; }

    protected override async Task OnInitializedAsync(){
        numeroUtilizadores= (await utilizadores.ContaUtilizadores()).FirstOrDefault();
        numeroLeiloesDecorrer= (await leiloes.ContaLeiloesDeUmDadoTipo(2)).FirstOrDefault();
        numeroLicitacoes= (await licitacoes.ContaLicitacoes()).FirstOrDefault();
    }
}