@page "/login"
@inject HttpClient Http
@inject NavigationManager NavigationManager;
@inject IUtilizadorDAO utilizadores
@inject AppState AppState;
@using DataLayer

<PageTitle>BelasArtes</PageTitle>



<div style="width: 100%; height: 90%; position: absolute; background: white"></div>

<!-- Cabecalho -->
<img style="width: 5; height: 14%; left: 0%; top: 0.5%; position: absolute" src="logo.png" />
<div style="width: 10%; height: 10%; left: 89%; top: 5%; position: absolute; text-align: center; color: black; font-size: 175%; font-family: Inter; font-weight: 100; word-wrap: break-word">Contactos</div>

<button onclick="window.location.href='/'">
<div style="width: 10%; height: 10%; left: 80%; top: 5%; position: absolute; text-align: center; color: black; font-size: 175%; font-family: Inter; font-weight: 100; word-wrap: break-word">Home</div>
</button>

<div style="width: 0%; height: 8%; left: 88.7%; top: 3.5%; position: absolute; border: 1px black solid"></div>
<div style="width: 30%; height: 20%; left: 1.5%; top: 4%; position: absolute; text-align: center; color: black; font-size: 200%; font-family: Inter; font-weight: 500; word-wrap: break-word">Leilões Belas Artes</div>


<!-- Caixa cinzenta e seus textos -->
<div style="width: 100%; height: 120%; left: 0%; top: 15%; position: absolute; background: rgba(64, 64, 64, 0.72)"></div>
<div style="width: 70%; height: 60%; left: 10%; top: 25%; position: absolute; background: #1E1E1E; border-radius: 73px"></div>
<div style="width: 40%; height: 60%; left: 50%; top: 25%; position: absolute; background: white; border-radius: 59px;"></div>
<div style="width: 70%; height: 60%; left: 15%; top: 32.5%; position: absolute; color: white; font-size: 225%; font-family: Inter; font-weight: 600; word-wrap: break-word">Bem-vindo</div>
<div style="width: 30%; height: 60%; left: 15%; top: 42.5%; position: absolute; color: white; font-size: 225%; font-family: Inter; font-weight: 167; word-wrap: break-word">Marketplace digital, onde pode ver as diferentes obras disponíveis e as últimas novidades.</div>


<!--Caixas de texto dentro da caixa-->
<div style="width: 30%; height: 70%; left: 55%; top: 32.5%; position: absolute; color: black; font-size: 30px; font-family: Inter; font-weight: 167; word-wrap: break-word">Email:</div>
<input type="text" @bind="Email" style="width: 30%; height: 7%; left: 55%; top: 38%; position: absolute; background: #D9D9D9; font-size: 20px; font-family: Inter; font-weight: 167; border: 4px black solid">

<div style="width: 30%; height: 70%; left: 55%; top: 47%; position: absolute; color: black; font-size: 30px; font-family: Inter; font-weight: 167; word-wrap: break-word">Senha:</div>
<input type="password" @bind="PalavraPasse" style="width: 30%; height: 7%; left: 55%; top: 52.5%; position: absolute; background: #D9D9D9; font-size: 20px; font-family: Inter; font-weight: 167; border: 4px black solid">


<!--Botao login e textos a volta dele-->
<div style="width: 30%; height: 70%; left: 57.5%; top: 62.5%; position: absolute"><span style="color: black; font-size: 20px; font-family: Inter; font-weight: 167; word-wrap: break-word">Ainda não se registou? Faça</span>
    <button onclick="window.location.href='/register'"><span style="color: black; font-size: 20px; font-family: Inter; font-weight: 167; text-decoration: underline; word-wrap: break-word">aqui</span></button>
    <span style="color: black; font-size: 20px; font-family: Inter; font-weight: 167; word-wrap: break-word"> o seu registo.</span></div>

<button @onclick="LoginButton" style="width: 15%; height: 10%; left: 63.5%; top: 70%; position: absolute; background: black; border-radius: 59px">
    <div style="width: 100%; height: 100%; background: black; border-radius: 59px"></div>
    <div style="width: 100%; height: 100%; color: white; font-size: 35px; font-family: Inter; font-weight: 400; word-wrap: break-word; position: absolute; top: 63.5%; left: 50%; transform: translate(-50%, -50%);">Log In</div>
</button>



@code{
    private string Email {get;set;} = "";
    private string PalavraPasse {get;set;} = "";


    private async Task LoginButton(){
        try{
            List<Datalayer.Utilizador> list = await utilizadores.GetUtilizadorByEmail(Email);

            if (list.Any() && list.First().PalavraPasse.Equals(PalavraPasse)){
                AppState.atual_user = list.First().Email;
                NavigationManager.NavigateTo("/leiloesAtivos", forceLoad: true);
            }else{
                NavigationManager.NavigateTo("/login", forceLoad: true);
            }
        }catch (Exception){
            NavigationManager.NavigateTo("/login", forceLoad: true);
        }
    }
}