@page "/register"
@inject HttpClient Http
@inject NavigationManager NavigationManager;
@using DataLayer

<PageTitle>BelasArtes</PageTitle>

<div style="width: 100%; height: 170%; position: absolute; background: #D9D9D9"></div>

<!-- Cabecalho -->
<img style="width: 5; height: 14%; left: 0%; top: 0.5%; position: absolute" src="logo.png" />
<div style="width: 30%; height: 20%; left: 2%; top: 4%; position: absolute; text-align: center; color: black; font-size: 200%; font-family: Inter; font-weight: 500; word-wrap: break-word">Leilões Belas Artes</div>

<button onclick="window.location.href='/'"> <!-- Redirecionar para Contactos -->
<div style="width: 10%; height: 10%; left: 89%; top: 5%; position: absolute; text-align: center; color: black; font-size: 175%; font-family: Inter; font-weight: 100; word-wrap: break-word">Contactos</div>
</button>

<div style="width: 0%; height: 8%; left: 88.7%; top: 3.5%; position: absolute; border: 1px black solid"></div> <!-- Linha separadora itens cabeçalho -->

<button onclick="window.location.href='/'">
<div style="width: 10%; height: 10%; left: 80%; top: 5%; position: absolute; text-align: center; color: black; font-size: 175%; font-family: Inter; font-weight: 100; word-wrap: break-word">Home</div>
</button>

<div style="width: 100%; height: 0px; left: 0%; top: 14.5%; position: absolute; border: 1px black solid"></div> <!-- Linha inferior cabeçalho -->


<div style="width: 100%; height: 100%; position: relative; background: #D9D9D9"></div>
<div style="width: 75%; height: 120%; left: 12.5%; top: 18%; position: absolute; background: #1E1E1E; border-radius: 10%;">
    <div style="width: 20%; height: 6%; left: 43%; top: 1.5%; position: absolute; color: white; font-size: 2.7vw; font-family: Inter; font-weight: 600; word-wrap: break-word">Bem-vindo</div>
    <div style="width: 70%; height: 6%; left: 15%; top: 7%; position: absolute; text-align: center; color: white; font-size: 2vw; font-family: Inter; font-weight: 167; word-wrap: break-word">Marketplace digital, onde pode ver as diferentes obras disponíveis e as últimas novidades.</div>
</div> <!-- Caixa preta -->
<div style="width: 0.2%; height: 25.3%; left: 50%; top: 27.3%; position: absolute; border: 1px #1E1E1E solid"></div>
<div style="width: 75%; height: 100%; left: 12.5%; top: 38%; position: absolute; background: white; border-bottom-left-radius: 10%; border-bottom-right-radius: 10%;"></div> <!-- Caixa branca, adicionar border redonda em baixo -->
<div style="width: 13.4%; height: 6%; left: 28.8%; top: 80.5%; position: absolute; background: #D9D9D9; border: 4px black solid"></div>
<div style="width: 12.8%; height: 6%; left: 49.6%; top: 80.5%; position: absolute; background: #D9D9D9; border: 4px black solid"></div>
<div style="width: 12.4%; height: 4%; left: 28.4%; top: 76.2%; position: absolute; color: black; font-size: 2%; font-family: Inter; font-weight: 167; word-wrap: break-word">Email:</div>
<div style="width: 13.8%; height: 6%; left: 27.2%; top: 38%; position: absolute; background: #D9D9D9; border: 4px black solid"></div>
<div style="width: 12.8%; height: 6%; left: 49.6%; top: 38%; position: absolute; background: #D9D9D9; border: 4px black solid"></div>
<div style="width: 12.4%; height: 4%; left: 50.7%; top: 80.9%; position: absolute; text-align: right;"><span style="color: black; font-size: 2%; font-family: Inter; font-weight: 167; word-wrap: break-word">Já tem conta? Faça </span><span style="color: black; font-size: 2%; font-family: Inter; font-weight: 167; text-decoration: underline; word-wrap: break-word">aqui</span><span style="color: black; font-size: 2%; font-family: Inter; font-weight: 167; word-wrap: break-word"> o seu log-in.</span></div>
<div style="width: 12.4%; height: 4%; left: 49.6%; top: 76.2%; position: absolute; color: black; font-size: 2%; font-family: Inter; font-weight: 167; word-wrap: break-word">Senha:</div>
<div style="width: 6.4%; height: 8%; left: 28.7%; top: 38.4%; position: absolute; color: black; font-size: 2%; font-family: Inter; font-weight: 167; word-wrap: break-word">Nome:</div>
<div style="width: 12.6%; height: 6%; left: 27.5%; top: 56.7%; position: absolute; background: #D9D9D9; border: 4px black solid"></div>
<div style="width: 12.6%; height: 6%; left: 47.9%; top: 56.7%; position: absolute; background: #D9D9D9; border: 4px black solid"></div>
<div style="width: 6.4%; height: 4%; left: 28.7%; top: 53.5%; position: absolute; color: black; font-size: 2%; font-family: Inter; font-weight: 167; word-wrap: break-word">País:</div>
<div style="width: 7.5%; height: 4%; left: 47.1%; top: 53.5%; position: absolute; color: black; font-size: 2%; font-family: Inter; font-weight: 167; word-wrap: break-word">Cidade:</div>
<div style="width: 12.2%; height: 6%; left: 49.6%; top: 56.7%; position: absolute; background: #D9D9D9; border: 4px black solid"></div>
<div style="width: 11.7%; height: 4%; left: 48.4%; top: 53.5%; position: absolute; color: black; font-size: 2%; font-family: Inter; font-weight: 167; word-wrap: break-word">Localidade:</div>
<div style="width: 12.1%; height: 6%; left: 80.7%; top: 56.7%; position: absolute; background: #D9D9D9; border: 4px black solid"></div>
<div style="width: 11.7%; height: 4%; left: 80.7%; top: 53.5%; position: absolute; color: black; font-size: 2%; font-family: Inter; font-weight: 167; word-wrap: break-word">Código-Postal:</div>
<div style="width: 19.7%; height: 4%; left: 49.4%; top: 41.5%; position: absolute; color: black; font-size: 2%; font-family: Inter; font-weight: 167; word-wrap: break-word">Telemóvel:</div>
<div style="width: 34.7%; height; 8%; left: -11.6%; top: -11.2%; position: absolute; text-align: center; color: black; font-size: 3.5%; font-family: Inter; font-weight: 500; word-wrap: break-word">Leilões Belas Artes</div>
<div style="width: 56.3%; height: 6%; left: 28.8%; top: 88.7%; position: absolute; background: #D9D9D9; border: 4px black solid"></div>
<div style="width: 55.5%; height: 4%; left: 28.4%; top: 86.3%; position: absolute; color: black; font-size: 2%; font-family: Inter; font-weight: 167; word-wrap: break-word">Rua, Porta, Andar:</div>
<div style="width: 56.3%; height: 6%; left: 28.8%; top: 94.8%; position: absolute; background: #D9D9D9; border: 4px black solid"></div>
<div style="width: 55.5%; height: 4%; left: 28.4%; top: 92.3%; position: absolute; color: black; font-size: 2%; font-family: Inter; font-weight: 167; word-wrap: break-word">IBAN:</div>
<div style="width: 9.1%; height: 5.2%; left: 39.5%; top: 95.7%; position: absolute; background: black; border-radius: 15%;"></div>
<div style="width: 6.5%; height: 4%; left: 41.5%; top: 96.1%; position: absolute; text-align: center; color: white; font-size: 2%; font-family: Inter; font-weight: 400; word-wrap: break-word">Registar</div>
